<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница пользователя</title>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th th:width="50">Id</th>
            <th th:width="120">Username</th>
            <th th:width="120">Name</th>
            <th th:width="120">Roles</th>
            <th th:width="50">Age</th>
        </tr>
        <tr>
            <td th:utext="${user.getId()}">Id</td>
            <td th:utext="${user.getUsername()}">Username</td>
            <td th:utext="${user.getName()}">Name</td>
            <td>
                <th:block th:each="role : ${user.roles}">
                    &nbsp;<span th:text="${role.name}"/>
                </th:block>
            </td>
            <td th:utext="${user.getAge()}">Age</td>
        </tr>
    </table>
    <br>
</div>
<div>
    <th:block th:include="menu">Menu</th:block>
</div>
</body>
</html>